
[class^="col-"] {
  background-color: #FFC0CB;
  height: 200px;
  border: 1px solid black;
  }

[class^="col-"] {
  position: relative;
}
[class^="col-"]>span{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nested {
  border: 6px solid #FFC0CB;
  background-color: #F07F80;
}
.br {
  border-right: 2px solid #fff;
}
.bn {
  border-left: none;
}
